// Variables
// --------------------------

$apptio-icon-font-path:        "../fonts" !default;
$apptio-icon-font-size-base:   16px !default;
$apptio-icon-line-height-base: 1 !default;
$apptio-icon-css-prefix:       apptio-icon !default;
$apptio-icon-version:          "1.0.0" !default;
$apptio-icon-border-color:     #eee !default;
$apptio-icon-inverse:          #fff !default;

$apptio-icon-business-insights: "\e900";
$apptio-icon-data-advisor: "\e901";
$apptio-icon-cloud-cost-management: "\e902";
$apptio-icon-cost-transparency: "\e903";
$apptio-icon-it-planning: "\e904";
$apptio-icon-it-benchmarking: "\e905";
$apptio-icon-tbm-studio: "\e906";
$apptio-icon-address-book: "\f2b9";
$apptio-icon-address-book-o: "\f2ba";
$apptio-icon-address-card: "\f2bb";
$apptio-icon-vcard: "\f2bb";
$apptio-icon-address-card-o: "\f2bc";
$apptio-icon-vcard-o: "\f2bc";
$apptio-icon-align-center: "\f037";
$apptio-icon-align-justify: "\f039";
$apptio-icon-align-left: "\f036";
$apptio-icon-align-right: "\f038";
$apptio-icon-angle-double-down: "\f103";
$apptio-icon-angle-double-left: "\f100";
$apptio-icon-angle-double-right: "\f101";
$apptio-icon-angle-double-up: "\f102";
$apptio-icon-angle-down: "\f107";
$apptio-icon-angle-left: "\f104";
$apptio-icon-angle-right: "\f105";
$apptio-icon-angle-up: "\f106";
$apptio-icon-area-chart: "\f1fe";
$apptio-icon-arrow-circle-down: "\f0ab";
$apptio-icon-arrow-circle-left: "\f0a8";
$apptio-icon-arrow-circle-o-down: "\f01a";
$apptio-icon-arrow-circle-o-left: "\f190";
$apptio-icon-arrow-circle-o-right: "\f18e";
$apptio-icon-arrow-circle-o-up: "\f01b";
$apptio-icon-arrow-circle-right: "\f0aa";
$apptio-icon-arrow-circle-up: "\f0ac";
$apptio-icon-arrow-down: "\f063";
$apptio-icon-arrow-left: "\f060";
$apptio-icon-arrow-right: "\f061";
$apptio-icon-arrow-up: "\f062";
$apptio-icon-arrows: "\f047";
$apptio-icon-arrows-alt: "\f0b2";
$apptio-icon-arrows-h: "\f07e";
$apptio-icon-arrows-v: "\f07d";
$apptio-icon-asterisk: "\f069";
$apptio-icon-balance-scale: "\f24f";
$apptio-icon-bar-chart: "\f080";
$apptio-icon-bar-chart-o: "\f080";
$apptio-icon-bars: "\f0cb";
$apptio-icon-navicon: "\f0cb";
$apptio-icon-reorder: "\f0cb";
$apptio-icon-bell: "\f0f3";
$apptio-icon-bell-o: "\f0a2";
$apptio-icon-bell-slash: "\f1f6";
$apptio-icon-bell-slash-o: "\f1f7";
$apptio-icon-bold: "\f032";
$apptio-icon-book: "\f02d";
$apptio-icon-bookmark: "\f02e";
$apptio-icon-bookmark-o: "\f097";
$apptio-icon-briefcase: "\f0b1";
$apptio-icon-building: "\f1ad";
$apptio-icon-building-o: "\f0f7";
$apptio-icon-bullhorn: "\f0a1";
$apptio-icon-bullseye: "\f140";
$apptio-icon-calculator: "\f1ec";
$apptio-icon-calendar: "\f074";
$apptio-icon-calendar-check-o: "\f274";
$apptio-icon-calendar-minus-o: "\f272";
$apptio-icon-calendar-o: "\f133";
$apptio-icon-calendar-plus-o: "\f271";
$apptio-icon-calendar-times-o: "\f273";
$apptio-icon-camera: "\f030";
$apptio-icon-caret-down: "\f0db";
$apptio-icon-caret-left: "\f0dc";
$apptio-icon-caret-right: "\f0dd";
$apptio-icon-caret-square-o-down: "\f150";
$apptio-icon-toggle-down: "\f150";
$apptio-icon-caret-square-o-left: "\f191";
$apptio-icon-toggle-left: "\f191";
$apptio-icon-caret-square-o-right: "\f152";
$apptio-icon-toggle-right: "\f152";
$apptio-icon-caret-square-o-up: "\f151";
$apptio-icon-toggle-up: "\f151";
$apptio-icon-caret-up: "\f0de";
$apptio-icon-check: "\f00c";
$apptio-icon-check-circle: "\f058";
$apptio-icon-check-circle-o: "\f05d";
$apptio-icon-check-square: "\f14a";
$apptio-icon-check-square-o: "\f048";
$apptio-icon-chevron-circle-down: "\f13a";
$apptio-icon-chevron-circle-left: "\f137";
$apptio-icon-chevron-circle-right: "\f138";
$apptio-icon-chevron-circle-up: "\f139";
$apptio-icon-chevron-down: "\f079";
$apptio-icon-chevron-left: "\f053";
$apptio-icon-chevron-right: "\f054";
$apptio-icon-chevron-up: "\f07a";
$apptio-icon-child: "\f1ae";
$apptio-icon-circle: "\f111";
$apptio-icon-circle-o: "\f10c";
$apptio-icon-circle-o-notch: "\f1ce";
$apptio-icon-circle-thin: "\f1db";
$apptio-icon-clipboard: "\f0ea";
$apptio-icon-paste: "\f0ea";
$apptio-icon-clock-o: "\f017";
$apptio-icon-clone: "\f24d";
$apptio-icon-close: "\f00e";
$apptio-icon-remove: "\f00e";
$apptio-icon-times: "\f00e";
$apptio-icon-cloud: "\f0c2";
$apptio-icon-cloud-download: "\f0ed";
$apptio-icon-cloud-upload: "\f0ee";
$apptio-icon-cog: "\f014";
$apptio-icon-gear: "\f014";
$apptio-icon-cogs: "\f085";
$apptio-icon-gears: "\f085";
$apptio-icon-columns: "\f0df";
$apptio-icon-comment: "\f075";
$apptio-icon-comment-o: "\f0e5";
$apptio-icon-commenting: "\f27a";
$apptio-icon-commenting-o: "\f27b";
$apptio-icon-comments: "\f086";
$apptio-icon-comments-o: "\f0e6";
$apptio-icon-compress: "\f067";
$apptio-icon-copy: "\f0c5";
$apptio-icon-files-o: "\f0c5";
$apptio-icon-crop: "\f125";
$apptio-icon-cube: "\f1b2";
$apptio-icon-cubes: "\f1b3";
$apptio-icon-dashboard: "\f0e4";
$apptio-icon-tachometer: "\f0e4";
$apptio-icon-database: "\f1c0";
$apptio-icon-dedent: "\f03b";
$apptio-icon-outdent: "\f03b";
$apptio-icon-desktop: "\f108";
$apptio-icon-download: "\f019";
$apptio-icon-drivers-license: "\f2c2";
$apptio-icon-id-card: "\f2c2";
$apptio-icon-drivers-license-o: "\f2c3";
$apptio-icon-id-card-o: "\f2c3";
$apptio-icon-edit: "\f049";
$apptio-icon-pencil-square-o: "\f049";
$apptio-icon-ellipsis-h: "\f143";
$apptio-icon-ellipsis-v: "\f144";
$apptio-icon-envelope: "\f0e0";
$apptio-icon-envelope-o: "\f003";
$apptio-icon-envelope-open: "\f2b6";
$apptio-icon-envelope-open-o: "\f2b7";
$apptio-icon-envelope-square: "\f199";
$apptio-icon-exchange: "\f0ec";
$apptio-icon-exclamation: "\f12b";
$apptio-icon-exclamation-circle: "\f06a";
$apptio-icon-exclamation-triangle: "\f072";
$apptio-icon-warning: "\f072";
$apptio-icon-expand: "\f068";
$apptio-icon-external-link: "\f08e";
$apptio-icon-external-link-square: "\f14c";
$apptio-icon-eye: "\f06e";
$apptio-icon-eye-slash: "\f070";
$apptio-icon-file: "\f15b";
$apptio-icon-file-archive-o: "\f1c6";
$apptio-icon-file-zip-o: "\f1c6";
$apptio-icon-file-audio-o: "\f1c7";
$apptio-icon-file-sound-o: "\f1c7";
$apptio-icon-file-code-o: "\f1c9";
$apptio-icon-file-excel-o: "\f1c3";
$apptio-icon-file-image-o: "\f1c5";
$apptio-icon-file-photo-o: "\f1c5";
$apptio-icon-file-picture-o: "\f1c5";
$apptio-icon-file-movie-o: "\f1c8";
$apptio-icon-file-video-o: "\f1c8";
$apptio-icon-file-o: "\f016";
$apptio-icon-file-pdf-o: "\f1c1";
$apptio-icon-file-powerpoint-o: "\f1c4";
$apptio-icon-file-text: "\f15c";
$apptio-icon-file-text-o: "\f0f6";
$apptio-icon-file-word-o: "\f1c2";
$apptio-icon-film: "\f008";
$apptio-icon-filter: "\f0b3";
$apptio-icon-flask: "\f0c4";
$apptio-icon-flickr: "\f16e";
$apptio-icon-floppy-o: "\f0c7";
$apptio-icon-save: "\f0c7";
$apptio-icon-folder: "\f07b";
$apptio-icon-folder-o: "\f114";
$apptio-icon-folder-open: "\f07f";
$apptio-icon-folder-open-o: "\f115";
$apptio-icon-font: "\f033";
$apptio-icon-group: "\f0c0";
$apptio-icon-users: "\f0c0";
$apptio-icon-hand-grab-o: "\f255";
$apptio-icon-hand-rock-o: "\f255";
$apptio-icon-hand-lizard-o: "\f258";
$apptio-icon-hand-o-down: "\f0a7";
$apptio-icon-hand-o-left: "\f0a5";
$apptio-icon-hand-o-right: "\f0a4";
$apptio-icon-hand-o-up: "\f0a6";
$apptio-icon-handshake-o: "\f2b5";
$apptio-icon-hashtag: "\f292";
$apptio-icon-hdd-o: "\f0a0";
$apptio-icon-header: "\f1dc";
$apptio-icon-heart: "\f004";
$apptio-icon-heart-o: "\f08a";
$apptio-icon-heartbeat: "\f21e";
$apptio-icon-history: "\f1da";
$apptio-icon-home: "\f015";
$apptio-icon-image: "\f03e";
$apptio-icon-photo: "\f03e";
$apptio-icon-picture-o: "\f03e";
$apptio-icon-inbox: "\f01c";
$apptio-icon-indent: "\f03c";
$apptio-icon-industry: "\f275";
$apptio-icon-info: "\f129";
$apptio-icon-info-circle: "\f05a";
$apptio-icon-italic: "\f034";
$apptio-icon-key: "\f087";
$apptio-icon-level-down: "\f149";
$apptio-icon-level-up: "\f148";
$apptio-icon-lightbulb-o: "\f0ef";
$apptio-icon-line-chart: "\f201";
$apptio-icon-list: "\f03a";
$apptio-icon-list-alt: "\f022";
$apptio-icon-list-ol: "\f0cc";
$apptio-icon-list-ul: "\f0cd";
$apptio-icon-location-arrow: "\f124";
$apptio-icon-lock: "\f023";
$apptio-icon-long-arrow-down: "\f175";
$apptio-icon-long-arrow-left: "\f177";
$apptio-icon-long-arrow-right: "\f178";
$apptio-icon-long-arrow-up: "\f176";
$apptio-icon-mail-forward: "\f06b";
$apptio-icon-share: "\f06b";
$apptio-icon-mail-reply: "\f112";
$apptio-icon-reply: "\f112";
$apptio-icon-mail-reply-all: "\f123";
$apptio-icon-reply-all: "\f123";
$apptio-icon-male: "\f183";
$apptio-icon-map: "\f279";
$apptio-icon-map-marker: "\f041";
$apptio-icon-map-o: "\f278";
$apptio-icon-map-pin: "\f276";
$apptio-icon-map-signs: "\f277";
$apptio-icon-minus: "\f06c";
$apptio-icon-minus-circle: "\f056";
$apptio-icon-minus-square: "\f146";
$apptio-icon-minus-square-o: "\f147";
$apptio-icon-mobile: "\f10b";
$apptio-icon-mobile-phone: "\f10b";
$apptio-icon-money: "\f0d6";
$apptio-icon-newspaper-o: "\f1ea";
$apptio-icon-object-group: "\f247";
$apptio-icon-object-ungroup: "\f248";
$apptio-icon-paper-plane: "\f1d8";
$apptio-icon-send: "\f1d8";
$apptio-icon-paper-plane-o: "\f1d9";
$apptio-icon-send-o: "\f1d9";
$apptio-icon-pencil: "\f040";
$apptio-icon-pencil-square: "\f14b";
$apptio-icon-percent: "\f296";
$apptio-icon-phone: "\f095";
$apptio-icon-phone-square: "\f098";
$apptio-icon-pie-chart: "\f200";
$apptio-icon-plus: "\f06d";
$apptio-icon-plus-circle: "\f05b";
$apptio-icon-plus-square: "\f0fe";
$apptio-icon-plus-square-o: "\f196";
$apptio-icon-power-off: "\f011";
$apptio-icon-print: "\f02f";
$apptio-icon-question: "\f128";
$apptio-icon-question-circle: "\f05c";
$apptio-icon-quote-left: "\f10d";
$apptio-icon-quote-right: "\f10e";
$apptio-icon-refresh: "\f021";
$apptio-icon-repeat: "\f01e";
$apptio-icon-rotate-right: "\f01e";
$apptio-icon-rotate-left: "\f0e3";
$apptio-icon-undo: "\f0e3";
$apptio-icon-search: "\f002";
$apptio-icon-search-minus: "\f010";
$apptio-icon-search-plus: "\f00f";
$apptio-icon-share-alt: "\f1e0";
$apptio-icon-share-alt-square: "\f1e1";
$apptio-icon-share-square: "\f14d";
$apptio-icon-share-square-o: "\f04a";
$apptio-icon-sign-in: "\f090";
$apptio-icon-sign-out: "\f08b";
$apptio-icon-sitemap: "\f0e9";
$apptio-icon-slack: "\f198";
$apptio-icon-sliders: "\f1de";
$apptio-icon-slideshare: "\f1e7";
$apptio-icon-smile-o: "\f118";
$apptio-icon-sort: "\f0e1";
$apptio-icon-unsorted: "\f0e1";
$apptio-icon-sort-alpha-asc: "\f15f";
$apptio-icon-sort-alpha-desc: "\f160";
$apptio-icon-sort-amount-asc: "\f161";
$apptio-icon-sort-amount-desc: "\f164";
$apptio-icon-sort-asc: "\f0e7";
$apptio-icon-sort-up: "\f0e7";
$apptio-icon-sort-desc: "\f0f0";
$apptio-icon-sort-down: "\f0f0";
$apptio-icon-sort-numeric-asc: "\f165";
$apptio-icon-sort-numeric-desc: "\f166";
$apptio-icon-spinner: "\f113";
$apptio-icon-square: "\f0c8";
$apptio-icon-square-o: "\f099";
$apptio-icon-star: "\f007";
$apptio-icon-star-half: "\f089";
$apptio-icon-star-o: "\f009";
$apptio-icon-table: "\f0ce";
$apptio-icon-tag: "\f02c";
$apptio-icon-tags: "\f035";
$apptio-icon-tasks: "\f0ae";
$apptio-icon-telegram: "\f2c6";
$apptio-icon-television: "\f26c";
$apptio-icon-tv: "\f26c";
$apptio-icon-text-height: "\f03d";
$apptio-icon-text-width: "\f03f";
$apptio-icon-th: "\f00a";
$apptio-icon-th-large: "\f00b";
$apptio-icon-th-list: "\f012";
$apptio-icon-thumbs-down: "\f167";
$apptio-icon-thumbs-o-down: "\f088";
$apptio-icon-thumbs-o-up: "\f08c";
$apptio-icon-thumbs-up: "\f168";
$apptio-icon-times-circle: "\f05e";
$apptio-icon-times-circle-o: "\f05f";
$apptio-icon-trash: "\f1f8";
$apptio-icon-trash-o: "\f018";
$apptio-icon-user: "\f01d";
$apptio-icon-user-circle: "\f2bd";
$apptio-icon-user-circle-o: "\f2be";
$apptio-icon-user-o: "\f2c0";
$apptio-icon-user-plus: "\f234";
$apptio-icon-user-secret: "\f21b";
$apptio-icon-wrench: "\f0af";
$apptio-icon-arrow-circle-right2: "\f0a9";
$apptio-icon-balance-scale2: "\f24e";
$apptio-icon-bars2: "\f0c9";
$apptio-icon-navicon2: "\f0c9";
$apptio-icon-reorder2: "\f0c9";
$apptio-icon-calendar2: "\f073";
$apptio-icon-caret-down2: "\f0d7";
$apptio-icon-caret-left2: "\f0d9";
$apptio-icon-caret-right2: "\f0da";
$apptio-icon-caret-up2: "\f0d8";
$apptio-icon-check-square-o2: "\f046";
$apptio-icon-chevron-down2: "\f078";
$apptio-icon-chevron-up2: "\f077";
$apptio-icon-close2: "\f00d";
$apptio-icon-remove2: "\f00d";
$apptio-icon-times2: "\f00d";
$apptio-icon-cog2: "\f013";
$apptio-icon-gear2: "\f013";
$apptio-icon-compress2: "\f066";
$apptio-icon-edit2: "\f044";
$apptio-icon-pencil-square-o2: "\f044";
$apptio-icon-ellipsis-h2: "\f141";
$apptio-icon-ellipsis-v2: "\f142";
$apptio-icon-exclamation2: "\f12a";
$apptio-icon-exclamation-triangle2: "\f071";
$apptio-icon-warning2: "\f071";
$apptio-icon-expand2: "\f065";
$apptio-icon-filter2: "\f0b0";
$apptio-icon-flask2: "\f0c3";
$apptio-icon-folder-open2: "\f07c";
$apptio-icon-font2: "\f031";
$apptio-icon-key2: "\f084";
$apptio-icon-lightbulb-o2: "\f0eb";
$apptio-icon-list-ul2: "\f0ca";
$apptio-icon-mail-forward2: "\f064";
$apptio-icon-share2: "\f064";
$apptio-icon-mail-reply-all2: "\f122";
$apptio-icon-reply-all2: "\f122";
$apptio-icon-percent2: "\f295";
$apptio-icon-plug: "\f1e6";
$apptio-icon-plus-circle2: "\f055";
$apptio-icon-question-circle2: "\f059";
$apptio-icon-rotate-left2: "\f0e2";
$apptio-icon-undo2: "\f0e2";
$apptio-icon-share-square-o2: "\f045";
$apptio-icon-sitemap2: "\f0e8";
$apptio-icon-sort-alpha-asc2: "\f15d";
$apptio-icon-sort-alpha-desc2: "\f15e";
$apptio-icon-sort-numeric-asc2: "\f162";
$apptio-icon-sort-numeric-desc2: "\f163";
$apptio-icon-spinner2: "\f110";
$apptio-icon-square-o2: "\f096";
$apptio-icon-star2: "\f005";
$apptio-icon-star-o2: "\f006";
$apptio-icon-tag2: "\f02b";
$apptio-icon-times-circle2: "\f057";
$apptio-icon-wrench2: "\f0ad";

