@import "variables";

@font-face {
  font-family: 'apptio';
  src:  url('#{$icomoon-font-path}/apptio.eot?spycik');
  src:  url('#{$icomoon-font-path}/apptio.eot?spycik#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/apptio.ttf?spycik') format('truetype'),
    url('#{$icomoon-font-path}/apptio.woff?spycik') format('woff'),
    url('#{$icomoon-font-path}/apptio.svg?spycik#apptio') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'apptio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.apptio-business-insights {
  &:before {
    content: $apptio-business-insights;
  }
}
.apptio-data-advisor {
  &:before {
    content: $apptio-data-advisor;
  }
}
.apptio-cloud-cost-management {
  &:before {
    content: $apptio-cloud-cost-management;
  }
}
.apptio-cost-transparency {
  &:before {
    content: $apptio-cost-transparency;
  }
}
.apptio-it-planning {
  &:before {
    content: $apptio-it-planning;
  }
}
.apptio-it-benchmarking {
  &:before {
    content: $apptio-it-benchmarking;
  }
}
.apptio-tbm-studio {
  &:before {
    content: $apptio-tbm-studio;
  }
}
.apptio-address-book {
  &:before {
    content: $apptio-address-book;
  }
}
.apptio-address-book-o {
  &:before {
    content: $apptio-address-book-o;
  }
}
.apptio-address-card {
  &:before {
    content: $apptio-address-card;
  }
}
.apptio-vcard {
  &:before {
    content: $apptio-vcard;
  }
}
.apptio-address-card-o {
  &:before {
    content: $apptio-address-card-o;
  }
}
.apptio-vcard-o {
  &:before {
    content: $apptio-vcard-o;
  }
}
.apptio-align-center {
  &:before {
    content: $apptio-align-center;
  }
}
.apptio-align-justify {
  &:before {
    content: $apptio-align-justify;
  }
}
.apptio-align-left {
  &:before {
    content: $apptio-align-left;
  }
}
.apptio-align-right {
  &:before {
    content: $apptio-align-right;
  }
}
.apptio-angle-double-down {
  &:before {
    content: $apptio-angle-double-down;
  }
}
.apptio-angle-double-left {
  &:before {
    content: $apptio-angle-double-left;
  }
}
.apptio-angle-double-right {
  &:before {
    content: $apptio-angle-double-right;
  }
}
.apptio-angle-double-up {
  &:before {
    content: $apptio-angle-double-up;
  }
}
.apptio-angle-down {
  &:before {
    content: $apptio-angle-down;
  }
}
.apptio-angle-left {
  &:before {
    content: $apptio-angle-left;
  }
}
.apptio-angle-right {
  &:before {
    content: $apptio-angle-right;
  }
}
.apptio-angle-up {
  &:before {
    content: $apptio-angle-up;
  }
}
.apptio-area-chart {
  &:before {
    content: $apptio-area-chart;
  }
}
.apptio-arrow-circle-down {
  &:before {
    content: $apptio-arrow-circle-down;
  }
}
.apptio-arrow-circle-left {
  &:before {
    content: $apptio-arrow-circle-left;
  }
}
.apptio-arrow-circle-o-down {
  &:before {
    content: $apptio-arrow-circle-o-down;
  }
}
.apptio-arrow-circle-o-left {
  &:before {
    content: $apptio-arrow-circle-o-left;
  }
}
.apptio-arrow-circle-o-right {
  &:before {
    content: $apptio-arrow-circle-o-right;
  }
}
.apptio-arrow-circle-o-up {
  &:before {
    content: $apptio-arrow-circle-o-up;
  }
}
.apptio-arrow-circle-right {
  &:before {
    content: $apptio-arrow-circle-right;
  }
}
.apptio-arrow-circle-up {
  &:before {
    content: $apptio-arrow-circle-up;
  }
}
.apptio-arrow-down {
  &:before {
    content: $apptio-arrow-down;
  }
}
.apptio-arrow-left {
  &:before {
    content: $apptio-arrow-left;
  }
}
.apptio-arrow-right {
  &:before {
    content: $apptio-arrow-right;
  }
}
.apptio-arrow-up {
  &:before {
    content: $apptio-arrow-up;
  }
}
.apptio-arrows {
  &:before {
    content: $apptio-arrows;
  }
}
.apptio-arrows-alt {
  &:before {
    content: $apptio-arrows-alt;
  }
}
.apptio-arrows-h {
  &:before {
    content: $apptio-arrows-h;
  }
}
.apptio-arrows-v {
  &:before {
    content: $apptio-arrows-v;
  }
}
.apptio-asterisk {
  &:before {
    content: $apptio-asterisk;
  }
}
.apptio-balance-scale {
  &:before {
    content: $apptio-balance-scale;
  }
}
.apptio-bar-chart {
  &:before {
    content: $apptio-bar-chart;
  }
}
.apptio-bar-chart-o {
  &:before {
    content: $apptio-bar-chart-o;
  }
}
.apptio-bars {
  &:before {
    content: $apptio-bars;
  }
}
.apptio-navicon {
  &:before {
    content: $apptio-navicon;
  }
}
.apptio-reorder {
  &:before {
    content: $apptio-reorder;
  }
}
.apptio-bell {
  &:before {
    content: $apptio-bell;
  }
}
.apptio-bell-o {
  &:before {
    content: $apptio-bell-o;
  }
}
.apptio-bell-slash {
  &:before {
    content: $apptio-bell-slash;
  }
}
.apptio-bell-slash-o {
  &:before {
    content: $apptio-bell-slash-o;
  }
}
.apptio-bold {
  &:before {
    content: $apptio-bold;
  }
}
.apptio-book {
  &:before {
    content: $apptio-book;
  }
}
.apptio-bookmark {
  &:before {
    content: $apptio-bookmark;
  }
}
.apptio-bookmark-o {
  &:before {
    content: $apptio-bookmark-o;
  }
}
.apptio-briefcase {
  &:before {
    content: $apptio-briefcase;
  }
}
.apptio-building {
  &:before {
    content: $apptio-building;
  }
}
.apptio-building-o {
  &:before {
    content: $apptio-building-o;
  }
}
.apptio-bullhorn {
  &:before {
    content: $apptio-bullhorn;
  }
}
.apptio-bullseye {
  &:before {
    content: $apptio-bullseye;
  }
}
.apptio-calculator {
  &:before {
    content: $apptio-calculator;
  }
}
.apptio-calendar {
  &:before {
    content: $apptio-calendar;
  }
}
.apptio-calendar-check-o {
  &:before {
    content: $apptio-calendar-check-o;
  }
}
.apptio-calendar-minus-o {
  &:before {
    content: $apptio-calendar-minus-o;
  }
}
.apptio-calendar-o {
  &:before {
    content: $apptio-calendar-o;
  }
}
.apptio-calendar-plus-o {
  &:before {
    content: $apptio-calendar-plus-o;
  }
}
.apptio-calendar-times-o {
  &:before {
    content: $apptio-calendar-times-o;
  }
}
.apptio-camera {
  &:before {
    content: $apptio-camera;
  }
}
.apptio-caret-down {
  &:before {
    content: $apptio-caret-down;
  }
}
.apptio-caret-left {
  &:before {
    content: $apptio-caret-left;
  }
}
.apptio-caret-right {
  &:before {
    content: $apptio-caret-right;
  }
}
.apptio-caret-square-o-down {
  &:before {
    content: $apptio-caret-square-o-down;
  }
}
.apptio-toggle-down {
  &:before {
    content: $apptio-toggle-down;
  }
}
.apptio-caret-square-o-left {
  &:before {
    content: $apptio-caret-square-o-left;
  }
}
.apptio-toggle-left {
  &:before {
    content: $apptio-toggle-left;
  }
}
.apptio-caret-square-o-right {
  &:before {
    content: $apptio-caret-square-o-right;
  }
}
.apptio-toggle-right {
  &:before {
    content: $apptio-toggle-right;
  }
}
.apptio-caret-square-o-up {
  &:before {
    content: $apptio-caret-square-o-up;
  }
}
.apptio-toggle-up {
  &:before {
    content: $apptio-toggle-up;
  }
}
.apptio-caret-up {
  &:before {
    content: $apptio-caret-up;
  }
}
.apptio-check {
  &:before {
    content: $apptio-check;
  }
}
.apptio-check-circle {
  &:before {
    content: $apptio-check-circle;
  }
}
.apptio-check-circle-o {
  &:before {
    content: $apptio-check-circle-o;
  }
}
.apptio-check-square {
  &:before {
    content: $apptio-check-square;
  }
}
.apptio-check-square-o {
  &:before {
    content: $apptio-check-square-o;
  }
}
.apptio-chevron-circle-down {
  &:before {
    content: $apptio-chevron-circle-down;
  }
}
.apptio-chevron-circle-left {
  &:before {
    content: $apptio-chevron-circle-left;
  }
}
.apptio-chevron-circle-right {
  &:before {
    content: $apptio-chevron-circle-right;
  }
}
.apptio-chevron-circle-up {
  &:before {
    content: $apptio-chevron-circle-up;
  }
}
.apptio-chevron-down {
  &:before {
    content: $apptio-chevron-down;
  }
}
.apptio-chevron-left {
  &:before {
    content: $apptio-chevron-left;
  }
}
.apptio-chevron-right {
  &:before {
    content: $apptio-chevron-right;
  }
}
.apptio-chevron-up {
  &:before {
    content: $apptio-chevron-up;
  }
}
.apptio-child {
  &:before {
    content: $apptio-child;
  }
}
.apptio-circle {
  &:before {
    content: $apptio-circle;
  }
}
.apptio-circle-o {
  &:before {
    content: $apptio-circle-o;
  }
}
.apptio-circle-o-notch {
  &:before {
    content: $apptio-circle-o-notch;
  }
}
.apptio-circle-thin {
  &:before {
    content: $apptio-circle-thin;
  }
}
.apptio-clipboard {
  &:before {
    content: $apptio-clipboard;
  }
}
.apptio-paste {
  &:before {
    content: $apptio-paste;
  }
}
.apptio-clock-o {
  &:before {
    content: $apptio-clock-o;
  }
}
.apptio-clone {
  &:before {
    content: $apptio-clone;
  }
}
.apptio-close {
  &:before {
    content: $apptio-close;
  }
}
.apptio-remove {
  &:before {
    content: $apptio-remove;
  }
}
.apptio-times {
  &:before {
    content: $apptio-times;
  }
}
.apptio-cloud {
  &:before {
    content: $apptio-cloud;
  }
}
.apptio-cloud-download {
  &:before {
    content: $apptio-cloud-download;
  }
}
.apptio-cloud-upload {
  &:before {
    content: $apptio-cloud-upload;
  }
}
.apptio-cog {
  &:before {
    content: $apptio-cog;
  }
}
.apptio-gear {
  &:before {
    content: $apptio-gear;
  }
}
.apptio-cogs {
  &:before {
    content: $apptio-cogs;
  }
}
.apptio-gears {
  &:before {
    content: $apptio-gears;
  }
}
.apptio-columns {
  &:before {
    content: $apptio-columns;
  }
}
.apptio-comment {
  &:before {
    content: $apptio-comment;
  }
}
.apptio-comment-o {
  &:before {
    content: $apptio-comment-o;
  }
}
.apptio-commenting {
  &:before {
    content: $apptio-commenting;
  }
}
.apptio-commenting-o {
  &:before {
    content: $apptio-commenting-o;
  }
}
.apptio-comments {
  &:before {
    content: $apptio-comments;
  }
}
.apptio-comments-o {
  &:before {
    content: $apptio-comments-o;
  }
}
.apptio-compress {
  &:before {
    content: $apptio-compress;
  }
}
.apptio-copy {
  &:before {
    content: $apptio-copy;
  }
}
.apptio-files-o {
  &:before {
    content: $apptio-files-o;
  }
}
.apptio-crop {
  &:before {
    content: $apptio-crop;
  }
}
.apptio-cube {
  &:before {
    content: $apptio-cube;
  }
}
.apptio-cubes {
  &:before {
    content: $apptio-cubes;
  }
}
.apptio-dashboard {
  &:before {
    content: $apptio-dashboard;
  }
}
.apptio-tachometer {
  &:before {
    content: $apptio-tachometer;
  }
}
.apptio-database {
  &:before {
    content: $apptio-database;
  }
}
.apptio-dedent {
  &:before {
    content: $apptio-dedent;
  }
}
.apptio-outdent {
  &:before {
    content: $apptio-outdent;
  }
}
.apptio-desktop {
  &:before {
    content: $apptio-desktop;
  }
}
.apptio-download {
  &:before {
    content: $apptio-download;
  }
}
.apptio-drivers-license {
  &:before {
    content: $apptio-drivers-license;
  }
}
.apptio-id-card {
  &:before {
    content: $apptio-id-card;
  }
}
.apptio-drivers-license-o {
  &:before {
    content: $apptio-drivers-license-o;
  }
}
.apptio-id-card-o {
  &:before {
    content: $apptio-id-card-o;
  }
}
.apptio-edit {
  &:before {
    content: $apptio-edit;
  }
}
.apptio-pencil-square-o {
  &:before {
    content: $apptio-pencil-square-o;
  }
}
.apptio-ellipsis-h {
  &:before {
    content: $apptio-ellipsis-h;
  }
}
.apptio-ellipsis-v {
  &:before {
    content: $apptio-ellipsis-v;
  }
}
.apptio-envelope {
  &:before {
    content: $apptio-envelope;
  }
}
.apptio-envelope-o {
  &:before {
    content: $apptio-envelope-o;
  }
}
.apptio-envelope-open {
  &:before {
    content: $apptio-envelope-open;
  }
}
.apptio-envelope-open-o {
  &:before {
    content: $apptio-envelope-open-o;
  }
}
.apptio-envelope-square {
  &:before {
    content: $apptio-envelope-square;
  }
}
.apptio-exchange {
  &:before {
    content: $apptio-exchange;
  }
}
.apptio-exclamation {
  &:before {
    content: $apptio-exclamation;
  }
}
.apptio-exclamation-circle {
  &:before {
    content: $apptio-exclamation-circle;
  }
}
.apptio-exclamation-triangle {
  &:before {
    content: $apptio-exclamation-triangle;
  }
}
.apptio-warning {
  &:before {
    content: $apptio-warning;
  }
}
.apptio-expand {
  &:before {
    content: $apptio-expand;
  }
}
.apptio-external-link {
  &:before {
    content: $apptio-external-link;
  }
}
.apptio-external-link-square {
  &:before {
    content: $apptio-external-link-square;
  }
}
.apptio-eye {
  &:before {
    content: $apptio-eye;
  }
}
.apptio-eye-slash {
  &:before {
    content: $apptio-eye-slash;
  }
}
.apptio-file {
  &:before {
    content: $apptio-file;
  }
}
.apptio-file-archive-o {
  &:before {
    content: $apptio-file-archive-o;
  }
}
.apptio-file-zip-o {
  &:before {
    content: $apptio-file-zip-o;
  }
}
.apptio-file-audio-o {
  &:before {
    content: $apptio-file-audio-o;
  }
}
.apptio-file-sound-o {
  &:before {
    content: $apptio-file-sound-o;
  }
}
.apptio-file-code-o {
  &:before {
    content: $apptio-file-code-o;
  }
}
.apptio-file-excel-o {
  &:before {
    content: $apptio-file-excel-o;
  }
}
.apptio-file-image-o {
  &:before {
    content: $apptio-file-image-o;
  }
}
.apptio-file-photo-o {
  &:before {
    content: $apptio-file-photo-o;
  }
}
.apptio-file-picture-o {
  &:before {
    content: $apptio-file-picture-o;
  }
}
.apptio-file-movie-o {
  &:before {
    content: $apptio-file-movie-o;
  }
}
.apptio-file-video-o {
  &:before {
    content: $apptio-file-video-o;
  }
}
.apptio-file-o {
  &:before {
    content: $apptio-file-o;
  }
}
.apptio-file-pdf-o {
  &:before {
    content: $apptio-file-pdf-o;
  }
}
.apptio-file-powerpoint-o {
  &:before {
    content: $apptio-file-powerpoint-o;
  }
}
.apptio-file-text {
  &:before {
    content: $apptio-file-text;
  }
}
.apptio-file-text-o {
  &:before {
    content: $apptio-file-text-o;
  }
}
.apptio-file-word-o {
  &:before {
    content: $apptio-file-word-o;
  }
}
.apptio-film {
  &:before {
    content: $apptio-film;
  }
}
.apptio-filter {
  &:before {
    content: $apptio-filter;
  }
}
.apptio-flask {
  &:before {
    content: $apptio-flask;
  }
}
.apptio-flickr {
  &:before {
    content: $apptio-flickr;
  }
}
.apptio-floppy-o {
  &:before {
    content: $apptio-floppy-o;
  }
}
.apptio-save {
  &:before {
    content: $apptio-save;
  }
}
.apptio-folder {
  &:before {
    content: $apptio-folder;
  }
}
.apptio-folder-o {
  &:before {
    content: $apptio-folder-o;
  }
}
.apptio-folder-open {
  &:before {
    content: $apptio-folder-open;
  }
}
.apptio-folder-open-o {
  &:before {
    content: $apptio-folder-open-o;
  }
}
.apptio-font {
  &:before {
    content: $apptio-font;
  }
}
.apptio-group {
  &:before {
    content: $apptio-group;
  }
}
.apptio-users {
  &:before {
    content: $apptio-users;
  }
}
.apptio-hand-grab-o {
  &:before {
    content: $apptio-hand-grab-o;
  }
}
.apptio-hand-rock-o {
  &:before {
    content: $apptio-hand-rock-o;
  }
}
.apptio-hand-lizard-o {
  &:before {
    content: $apptio-hand-lizard-o;
  }
}
.apptio-hand-o-down {
  &:before {
    content: $apptio-hand-o-down;
  }
}
.apptio-hand-o-left {
  &:before {
    content: $apptio-hand-o-left;
  }
}
.apptio-hand-o-right {
  &:before {
    content: $apptio-hand-o-right;
  }
}
.apptio-hand-o-up {
  &:before {
    content: $apptio-hand-o-up;
  }
}
.apptio-handshake-o {
  &:before {
    content: $apptio-handshake-o;
  }
}
.apptio-hashtag {
  &:before {
    content: $apptio-hashtag;
  }
}
.apptio-hdd-o {
  &:before {
    content: $apptio-hdd-o;
  }
}
.apptio-header {
  &:before {
    content: $apptio-header;
  }
}
.apptio-heart {
  &:before {
    content: $apptio-heart;
  }
}
.apptio-heart-o {
  &:before {
    content: $apptio-heart-o;
  }
}
.apptio-heartbeat {
  &:before {
    content: $apptio-heartbeat;
  }
}
.apptio-history {
  &:before {
    content: $apptio-history;
  }
}
.apptio-home {
  &:before {
    content: $apptio-home;
  }
}
.apptio-image {
  &:before {
    content: $apptio-image;
  }
}
.apptio-photo {
  &:before {
    content: $apptio-photo;
  }
}
.apptio-picture-o {
  &:before {
    content: $apptio-picture-o;
  }
}
.apptio-inbox {
  &:before {
    content: $apptio-inbox;
  }
}
.apptio-indent {
  &:before {
    content: $apptio-indent;
  }
}
.apptio-industry {
  &:before {
    content: $apptio-industry;
  }
}
.apptio-info {
  &:before {
    content: $apptio-info;
  }
}
.apptio-info-circle {
  &:before {
    content: $apptio-info-circle;
  }
}
.apptio-italic {
  &:before {
    content: $apptio-italic;
  }
}
.apptio-key {
  &:before {
    content: $apptio-key;
  }
}
.apptio-level-down {
  &:before {
    content: $apptio-level-down;
  }
}
.apptio-level-up {
  &:before {
    content: $apptio-level-up;
  }
}
.apptio-lightbulb-o {
  &:before {
    content: $apptio-lightbulb-o;
  }
}
.apptio-line-chart {
  &:before {
    content: $apptio-line-chart;
  }
}
.apptio-list {
  &:before {
    content: $apptio-list;
  }
}
.apptio-list-alt {
  &:before {
    content: $apptio-list-alt;
  }
}
.apptio-list-ol {
  &:before {
    content: $apptio-list-ol;
  }
}
.apptio-list-ul {
  &:before {
    content: $apptio-list-ul;
  }
}
.apptio-location-arrow {
  &:before {
    content: $apptio-location-arrow;
  }
}
.apptio-lock {
  &:before {
    content: $apptio-lock;
  }
}
.apptio-long-arrow-down {
  &:before {
    content: $apptio-long-arrow-down;
  }
}
.apptio-long-arrow-left {
  &:before {
    content: $apptio-long-arrow-left;
  }
}
.apptio-long-arrow-right {
  &:before {
    content: $apptio-long-arrow-right;
  }
}
.apptio-long-arrow-up {
  &:before {
    content: $apptio-long-arrow-up;
  }
}
.apptio-mail-forward {
  &:before {
    content: $apptio-mail-forward;
  }
}
.apptio-share {
  &:before {
    content: $apptio-share;
  }
}
.apptio-mail-reply {
  &:before {
    content: $apptio-mail-reply;
  }
}
.apptio-reply {
  &:before {
    content: $apptio-reply;
  }
}
.apptio-mail-reply-all {
  &:before {
    content: $apptio-mail-reply-all;
  }
}
.apptio-reply-all {
  &:before {
    content: $apptio-reply-all;
  }
}
.apptio-male {
  &:before {
    content: $apptio-male;
  }
}
.apptio-map {
  &:before {
    content: $apptio-map;
  }
}
.apptio-map-marker {
  &:before {
    content: $apptio-map-marker;
  }
}
.apptio-map-o {
  &:before {
    content: $apptio-map-o;
  }
}
.apptio-map-pin {
  &:before {
    content: $apptio-map-pin;
  }
}
.apptio-map-signs {
  &:before {
    content: $apptio-map-signs;
  }
}
.apptio-minus {
  &:before {
    content: $apptio-minus;
  }
}
.apptio-minus-circle {
  &:before {
    content: $apptio-minus-circle;
  }
}
.apptio-minus-square {
  &:before {
    content: $apptio-minus-square;
  }
}
.apptio-minus-square-o {
  &:before {
    content: $apptio-minus-square-o;
  }
}
.apptio-mobile {
  &:before {
    content: $apptio-mobile;
  }
}
.apptio-mobile-phone {
  &:before {
    content: $apptio-mobile-phone;
  }
}
.apptio-money {
  &:before {
    content: $apptio-money;
  }
}
.apptio-newspaper-o {
  &:before {
    content: $apptio-newspaper-o;
  }
}
.apptio-object-group {
  &:before {
    content: $apptio-object-group;
  }
}
.apptio-object-ungroup {
  &:before {
    content: $apptio-object-ungroup;
  }
}
.apptio-paper-plane {
  &:before {
    content: $apptio-paper-plane;
  }
}
.apptio-send {
  &:before {
    content: $apptio-send;
  }
}
.apptio-paper-plane-o {
  &:before {
    content: $apptio-paper-plane-o;
  }
}
.apptio-send-o {
  &:before {
    content: $apptio-send-o;
  }
}
.apptio-pencil {
  &:before {
    content: $apptio-pencil;
  }
}
.apptio-pencil-square {
  &:before {
    content: $apptio-pencil-square;
  }
}
.apptio-percent {
  &:before {
    content: $apptio-percent;
  }
}
.apptio-phone {
  &:before {
    content: $apptio-phone;
  }
}
.apptio-phone-square {
  &:before {
    content: $apptio-phone-square;
  }
}
.apptio-pie-chart {
  &:before {
    content: $apptio-pie-chart;
  }
}
.apptio-plus {
  &:before {
    content: $apptio-plus;
  }
}
.apptio-plus-circle {
  &:before {
    content: $apptio-plus-circle;
  }
}
.apptio-plus-square {
  &:before {
    content: $apptio-plus-square;
  }
}
.apptio-plus-square-o {
  &:before {
    content: $apptio-plus-square-o;
  }
}
.apptio-power-off {
  &:before {
    content: $apptio-power-off;
  }
}
.apptio-print {
  &:before {
    content: $apptio-print;
  }
}
.apptio-question {
  &:before {
    content: $apptio-question;
  }
}
.apptio-question-circle {
  &:before {
    content: $apptio-question-circle;
  }
}
.apptio-quote-left {
  &:before {
    content: $apptio-quote-left;
  }
}
.apptio-quote-right {
  &:before {
    content: $apptio-quote-right;
  }
}
.apptio-refresh {
  &:before {
    content: $apptio-refresh;
  }
}
.apptio-repeat {
  &:before {
    content: $apptio-repeat;
  }
}
.apptio-rotate-right {
  &:before {
    content: $apptio-rotate-right;
  }
}
.apptio-rotate-left {
  &:before {
    content: $apptio-rotate-left;
  }
}
.apptio-undo {
  &:before {
    content: $apptio-undo;
  }
}
.apptio-search {
  &:before {
    content: $apptio-search;
  }
}
.apptio-search-minus {
  &:before {
    content: $apptio-search-minus;
  }
}
.apptio-search-plus {
  &:before {
    content: $apptio-search-plus;
  }
}
.apptio-share-alt {
  &:before {
    content: $apptio-share-alt;
  }
}
.apptio-share-alt-square {
  &:before {
    content: $apptio-share-alt-square;
  }
}
.apptio-share-square {
  &:before {
    content: $apptio-share-square;
  }
}
.apptio-share-square-o {
  &:before {
    content: $apptio-share-square-o;
  }
}
.apptio-sign-in {
  &:before {
    content: $apptio-sign-in;
  }
}
.apptio-sign-out {
  &:before {
    content: $apptio-sign-out;
  }
}
.apptio-sitemap {
  &:before {
    content: $apptio-sitemap;
  }
}
.apptio-slack {
  &:before {
    content: $apptio-slack;
  }
}
.apptio-sliders {
  &:before {
    content: $apptio-sliders;
  }
}
.apptio-slideshare {
  &:before {
    content: $apptio-slideshare;
  }
}
.apptio-smile-o {
  &:before {
    content: $apptio-smile-o;
  }
}
.apptio-sort {
  &:before {
    content: $apptio-sort;
  }
}
.apptio-unsorted {
  &:before {
    content: $apptio-unsorted;
  }
}
.apptio-sort-alpha-asc {
  &:before {
    content: $apptio-sort-alpha-asc;
  }
}
.apptio-sort-alpha-desc {
  &:before {
    content: $apptio-sort-alpha-desc;
  }
}
.apptio-sort-amount-asc {
  &:before {
    content: $apptio-sort-amount-asc;
  }
}
.apptio-sort-amount-desc {
  &:before {
    content: $apptio-sort-amount-desc;
  }
}
.apptio-sort-asc {
  &:before {
    content: $apptio-sort-asc;
  }
}
.apptio-sort-up {
  &:before {
    content: $apptio-sort-up;
  }
}
.apptio-sort-desc {
  &:before {
    content: $apptio-sort-desc;
  }
}
.apptio-sort-down {
  &:before {
    content: $apptio-sort-down;
  }
}
.apptio-sort-numeric-asc {
  &:before {
    content: $apptio-sort-numeric-asc;
  }
}
.apptio-sort-numeric-desc {
  &:before {
    content: $apptio-sort-numeric-desc;
  }
}
.apptio-spinner {
  &:before {
    content: $apptio-spinner;
  }
}
.apptio-square {
  &:before {
    content: $apptio-square;
  }
}
.apptio-square-o {
  &:before {
    content: $apptio-square-o;
  }
}
.apptio-star {
  &:before {
    content: $apptio-star;
  }
}
.apptio-star-half {
  &:before {
    content: $apptio-star-half;
  }
}
.apptio-star-o {
  &:before {
    content: $apptio-star-o;
  }
}
.apptio-table {
  &:before {
    content: $apptio-table;
  }
}
.apptio-tag {
  &:before {
    content: $apptio-tag;
  }
}
.apptio-tags {
  &:before {
    content: $apptio-tags;
  }
}
.apptio-tasks {
  &:before {
    content: $apptio-tasks;
  }
}
.apptio-telegram {
  &:before {
    content: $apptio-telegram;
  }
}
.apptio-television {
  &:before {
    content: $apptio-television;
  }
}
.apptio-tv {
  &:before {
    content: $apptio-tv;
  }
}
.apptio-text-height {
  &:before {
    content: $apptio-text-height;
  }
}
.apptio-text-width {
  &:before {
    content: $apptio-text-width;
  }
}
.apptio-th {
  &:before {
    content: $apptio-th;
  }
}
.apptio-th-large {
  &:before {
    content: $apptio-th-large;
  }
}
.apptio-th-list {
  &:before {
    content: $apptio-th-list;
  }
}
.apptio-thumbs-down {
  &:before {
    content: $apptio-thumbs-down;
  }
}
.apptio-thumbs-o-down {
  &:before {
    content: $apptio-thumbs-o-down;
  }
}
.apptio-thumbs-o-up {
  &:before {
    content: $apptio-thumbs-o-up;
  }
}
.apptio-thumbs-up {
  &:before {
    content: $apptio-thumbs-up;
  }
}
.apptio-times-circle {
  &:before {
    content: $apptio-times-circle;
  }
}
.apptio-times-circle-o {
  &:before {
    content: $apptio-times-circle-o;
  }
}
.apptio-trash {
  &:before {
    content: $apptio-trash;
  }
}
.apptio-trash-o {
  &:before {
    content: $apptio-trash-o;
  }
}
.apptio-user {
  &:before {
    content: $apptio-user;
  }
}
.apptio-user-circle {
  &:before {
    content: $apptio-user-circle;
  }
}
.apptio-user-circle-o {
  &:before {
    content: $apptio-user-circle-o;
  }
}
.apptio-user-o {
  &:before {
    content: $apptio-user-o;
  }
}
.apptio-user-plus {
  &:before {
    content: $apptio-user-plus;
  }
}
.apptio-user-secret {
  &:before {
    content: $apptio-user-secret;
  }
}
.apptio-wrench {
  &:before {
    content: $apptio-wrench;
  }
}
.apptio-arrow-circle-right2 {
  &:before {
    content: $apptio-arrow-circle-right2;
  }
}
.apptio-balance-scale2 {
  &:before {
    content: $apptio-balance-scale2;
  }
}
.apptio-bars2 {
  &:before {
    content: $apptio-bars2;
  }
}
.apptio-navicon2 {
  &:before {
    content: $apptio-navicon2;
  }
}
.apptio-reorder2 {
  &:before {
    content: $apptio-reorder2;
  }
}
.apptio-calendar2 {
  &:before {
    content: $apptio-calendar2;
  }
}
.apptio-caret-down2 {
  &:before {
    content: $apptio-caret-down2;
  }
}
.apptio-caret-left2 {
  &:before {
    content: $apptio-caret-left2;
  }
}
.apptio-caret-right2 {
  &:before {
    content: $apptio-caret-right2;
  }
}
.apptio-caret-up2 {
  &:before {
    content: $apptio-caret-up2;
  }
}
.apptio-check-square-o2 {
  &:before {
    content: $apptio-check-square-o2;
  }
}
.apptio-chevron-down2 {
  &:before {
    content: $apptio-chevron-down2;
  }
}
.apptio-chevron-up2 {
  &:before {
    content: $apptio-chevron-up2;
  }
}
.apptio-close2 {
  &:before {
    content: $apptio-close2;
  }
}
.apptio-remove2 {
  &:before {
    content: $apptio-remove2;
  }
}
.apptio-times2 {
  &:before {
    content: $apptio-times2;
  }
}
.apptio-cog2 {
  &:before {
    content: $apptio-cog2;
  }
}
.apptio-gear2 {
  &:before {
    content: $apptio-gear2;
  }
}
.apptio-compress2 {
  &:before {
    content: $apptio-compress2;
  }
}
.apptio-edit2 {
  &:before {
    content: $apptio-edit2;
  }
}
.apptio-pencil-square-o2 {
  &:before {
    content: $apptio-pencil-square-o2;
  }
}
.apptio-ellipsis-h2 {
  &:before {
    content: $apptio-ellipsis-h2;
  }
}
.apptio-ellipsis-v2 {
  &:before {
    content: $apptio-ellipsis-v2;
  }
}
.apptio-exclamation2 {
  &:before {
    content: $apptio-exclamation2;
  }
}
.apptio-exclamation-triangle2 {
  &:before {
    content: $apptio-exclamation-triangle2;
  }
}
.apptio-warning2 {
  &:before {
    content: $apptio-warning2;
  }
}
.apptio-expand2 {
  &:before {
    content: $apptio-expand2;
  }
}
.apptio-filter2 {
  &:before {
    content: $apptio-filter2;
  }
}
.apptio-flask2 {
  &:before {
    content: $apptio-flask2;
  }
}
.apptio-folder-open2 {
  &:before {
    content: $apptio-folder-open2;
  }
}
.apptio-font2 {
  &:before {
    content: $apptio-font2;
  }
}
.apptio-key2 {
  &:before {
    content: $apptio-key2;
  }
}
.apptio-lightbulb-o2 {
  &:before {
    content: $apptio-lightbulb-o2;
  }
}
.apptio-list-ul2 {
  &:before {
    content: $apptio-list-ul2;
  }
}
.apptio-mail-forward2 {
  &:before {
    content: $apptio-mail-forward2;
  }
}
.apptio-share2 {
  &:before {
    content: $apptio-share2;
  }
}
.apptio-mail-reply-all2 {
  &:before {
    content: $apptio-mail-reply-all2;
  }
}
.apptio-reply-all2 {
  &:before {
    content: $apptio-reply-all2;
  }
}
.apptio-percent2 {
  &:before {
    content: $apptio-percent2;
  }
}
.apptio-plug {
  &:before {
    content: $apptio-plug;
  }
}
.apptio-plus-circle2 {
  &:before {
    content: $apptio-plus-circle2;
  }
}
.apptio-question-circle2 {
  &:before {
    content: $apptio-question-circle2;
  }
}
.apptio-rotate-left2 {
  &:before {
    content: $apptio-rotate-left2;
  }
}
.apptio-undo2 {
  &:before {
    content: $apptio-undo2;
  }
}
.apptio-share-square-o2 {
  &:before {
    content: $apptio-share-square-o2;
  }
}
.apptio-sitemap2 {
  &:before {
    content: $apptio-sitemap2;
  }
}
.apptio-sort-alpha-asc2 {
  &:before {
    content: $apptio-sort-alpha-asc2;
  }
}
.apptio-sort-alpha-desc2 {
  &:before {
    content: $apptio-sort-alpha-desc2;
  }
}
.apptio-sort-numeric-asc2 {
  &:before {
    content: $apptio-sort-numeric-asc2;
  }
}
.apptio-sort-numeric-desc2 {
  &:before {
    content: $apptio-sort-numeric-desc2;
  }
}
.apptio-spinner2 {
  &:before {
    content: $apptio-spinner2;
  }
}
.apptio-square-o2 {
  &:before {
    content: $apptio-square-o2;
  }
}
.apptio-star2 {
  &:before {
    content: $apptio-star2;
  }
}
.apptio-star-o2 {
  &:before {
    content: $apptio-star-o2;
  }
}
.apptio-tag2 {
  &:before {
    content: $apptio-tag2;
  }
}
.apptio-times-circle2 {
  &:before {
    content: $apptio-times-circle2;
  }
}
.apptio-wrench2 {
  &:before {
    content: $apptio-wrench2;
  }
}

