@font-face {
  font-family: 'apptio';
  src:  url('fonts/apptio.eot?spycik');
  src:  url('fonts/apptio.eot?spycik#iefix') format('embedded-opentype'),
    url('fonts/apptio.ttf?spycik') format('truetype'),
    url('fonts/apptio.woff?spycik') format('woff'),
    url('fonts/apptio.svg?spycik#apptio') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'apptio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.apptio-business-insights:before {
  content: "\e900";
}
.apptio-data-advisor:before {
  content: "\e901";
}
.apptio-cloud-cost-management:before {
  content: "\e902";
}
.apptio-cost-transparency:before {
  content: "\e903";
}
.apptio-it-planning:before {
  content: "\e904";
}
.apptio-it-benchmarking:before {
  content: "\e905";
}
.apptio-tbm-studio:before {
  content: "\e906";
}
.apptio-address-book:before {
  content: "\f2b9";
}
.apptio-address-book-o:before {
  content: "\f2ba";
}
.apptio-address-card:before {
  content: "\f2bb";
}
.apptio-vcard:before {
  content: "\f2bb";
}
.apptio-address-card-o:before {
  content: "\f2bc";
}
.apptio-vcard-o:before {
  content: "\f2bc";
}
.apptio-align-center:before {
  content: "\f037";
}
.apptio-align-justify:before {
  content: "\f039";
}
.apptio-align-left:before {
  content: "\f036";
}
.apptio-align-right:before {
  content: "\f038";
}
.apptio-angle-double-down:before {
  content: "\f103";
}
.apptio-angle-double-left:before {
  content: "\f100";
}
.apptio-angle-double-right:before {
  content: "\f101";
}
.apptio-angle-double-up:before {
  content: "\f102";
}
.apptio-angle-down:before {
  content: "\f107";
}
.apptio-angle-left:before {
  content: "\f104";
}
.apptio-angle-right:before {
  content: "\f105";
}
.apptio-angle-up:before {
  content: "\f106";
}
.apptio-area-chart:before {
  content: "\f1fe";
}
.apptio-arrow-circle-down:before {
  content: "\f0ab";
}
.apptio-arrow-circle-left:before {
  content: "\f0a8";
}
.apptio-arrow-circle-o-down:before {
  content: "\f01a";
}
.apptio-arrow-circle-o-left:before {
  content: "\f190";
}
.apptio-arrow-circle-o-right:before {
  content: "\f18e";
}
.apptio-arrow-circle-o-up:before {
  content: "\f01b";
}
.apptio-arrow-circle-right:before {
  content: "\f0aa";
}
.apptio-arrow-circle-up:before {
  content: "\f0ac";
}
.apptio-arrow-down:before {
  content: "\f063";
}
.apptio-arrow-left:before {
  content: "\f060";
}
.apptio-arrow-right:before {
  content: "\f061";
}
.apptio-arrow-up:before {
  content: "\f062";
}
.apptio-arrows:before {
  content: "\f047";
}
.apptio-arrows-alt:before {
  content: "\f0b2";
}
.apptio-arrows-h:before {
  content: "\f07e";
}
.apptio-arrows-v:before {
  content: "\f07d";
}
.apptio-asterisk:before {
  content: "\f069";
}
.apptio-balance-scale:before {
  content: "\f24f";
}
.apptio-bar-chart:before {
  content: "\f080";
}
.apptio-bar-chart-o:before {
  content: "\f080";
}
.apptio-bars:before {
  content: "\f0cb";
}
.apptio-navicon:before {
  content: "\f0cb";
}
.apptio-reorder:before {
  content: "\f0cb";
}
.apptio-bell:before {
  content: "\f0f3";
}
.apptio-bell-o:before {
  content: "\f0a2";
}
.apptio-bell-slash:before {
  content: "\f1f6";
}
.apptio-bell-slash-o:before {
  content: "\f1f7";
}
.apptio-bold:before {
  content: "\f032";
}
.apptio-book:before {
  content: "\f02d";
}
.apptio-bookmark:before {
  content: "\f02e";
}
.apptio-bookmark-o:before {
  content: "\f097";
}
.apptio-briefcase:before {
  content: "\f0b1";
}
.apptio-building:before {
  content: "\f1ad";
}
.apptio-building-o:before {
  content: "\f0f7";
}
.apptio-bullhorn:before {
  content: "\f0a1";
}
.apptio-bullseye:before {
  content: "\f140";
}
.apptio-calculator:before {
  content: "\f1ec";
}
.apptio-calendar:before {
  content: "\f074";
}
.apptio-calendar-check-o:before {
  content: "\f274";
}
.apptio-calendar-minus-o:before {
  content: "\f272";
}
.apptio-calendar-o:before {
  content: "\f133";
}
.apptio-calendar-plus-o:before {
  content: "\f271";
}
.apptio-calendar-times-o:before {
  content: "\f273";
}
.apptio-camera:before {
  content: "\f030";
}
.apptio-caret-down:before {
  content: "\f0db";
}
.apptio-caret-left:before {
  content: "\f0dc";
}
.apptio-caret-right:before {
  content: "\f0dd";
}
.apptio-caret-square-o-down:before {
  content: "\f150";
}
.apptio-toggle-down:before {
  content: "\f150";
}
.apptio-caret-square-o-left:before {
  content: "\f191";
}
.apptio-toggle-left:before {
  content: "\f191";
}
.apptio-caret-square-o-right:before {
  content: "\f152";
}
.apptio-toggle-right:before {
  content: "\f152";
}
.apptio-caret-square-o-up:before {
  content: "\f151";
}
.apptio-toggle-up:before {
  content: "\f151";
}
.apptio-caret-up:before {
  content: "\f0de";
}
.apptio-check:before {
  content: "\f00c";
}
.apptio-check-circle:before {
  content: "\f058";
}
.apptio-check-circle-o:before {
  content: "\f05d";
}
.apptio-check-square:before {
  content: "\f14a";
}
.apptio-check-square-o:before {
  content: "\f048";
}
.apptio-chevron-circle-down:before {
  content: "\f13a";
}
.apptio-chevron-circle-left:before {
  content: "\f137";
}
.apptio-chevron-circle-right:before {
  content: "\f138";
}
.apptio-chevron-circle-up:before {
  content: "\f139";
}
.apptio-chevron-down:before {
  content: "\f079";
}
.apptio-chevron-left:before {
  content: "\f053";
}
.apptio-chevron-right:before {
  content: "\f054";
}
.apptio-chevron-up:before {
  content: "\f07a";
}
.apptio-child:before {
  content: "\f1ae";
}
.apptio-circle:before {
  content: "\f111";
}
.apptio-circle-o:before {
  content: "\f10c";
}
.apptio-circle-o-notch:before {
  content: "\f1ce";
}
.apptio-circle-thin:before {
  content: "\f1db";
}
.apptio-clipboard:before {
  content: "\f0ea";
}
.apptio-paste:before {
  content: "\f0ea";
}
.apptio-clock-o:before {
  content: "\f017";
}
.apptio-clone:before {
  content: "\f24d";
}
.apptio-close:before {
  content: "\f00e";
}
.apptio-remove:before {
  content: "\f00e";
}
.apptio-times:before {
  content: "\f00e";
}
.apptio-cloud:before {
  content: "\f0c2";
}
.apptio-cloud-download:before {
  content: "\f0ed";
}
.apptio-cloud-upload:before {
  content: "\f0ee";
}
.apptio-cog:before {
  content: "\f014";
}
.apptio-gear:before {
  content: "\f014";
}
.apptio-cogs:before {
  content: "\f085";
}
.apptio-gears:before {
  content: "\f085";
}
.apptio-columns:before {
  content: "\f0df";
}
.apptio-comment:before {
  content: "\f075";
}
.apptio-comment-o:before {
  content: "\f0e5";
}
.apptio-commenting:before {
  content: "\f27a";
}
.apptio-commenting-o:before {
  content: "\f27b";
}
.apptio-comments:before {
  content: "\f086";
}
.apptio-comments-o:before {
  content: "\f0e6";
}
.apptio-compress:before {
  content: "\f067";
}
.apptio-copy:before {
  content: "\f0c5";
}
.apptio-files-o:before {
  content: "\f0c5";
}
.apptio-crop:before {
  content: "\f125";
}
.apptio-cube:before {
  content: "\f1b2";
}
.apptio-cubes:before {
  content: "\f1b3";
}
.apptio-dashboard:before {
  content: "\f0e4";
}
.apptio-tachometer:before {
  content: "\f0e4";
}
.apptio-database:before {
  content: "\f1c0";
}
.apptio-dedent:before {
  content: "\f03b";
}
.apptio-outdent:before {
  content: "\f03b";
}
.apptio-desktop:before {
  content: "\f108";
}
.apptio-download:before {
  content: "\f019";
}
.apptio-drivers-license:before {
  content: "\f2c2";
}
.apptio-id-card:before {
  content: "\f2c2";
}
.apptio-drivers-license-o:before {
  content: "\f2c3";
}
.apptio-id-card-o:before {
  content: "\f2c3";
}
.apptio-edit:before {
  content: "\f049";
}
.apptio-pencil-square-o:before {
  content: "\f049";
}
.apptio-ellipsis-h:before {
  content: "\f143";
}
.apptio-ellipsis-v:before {
  content: "\f144";
}
.apptio-envelope:before {
  content: "\f0e0";
}
.apptio-envelope-o:before {
  content: "\f003";
}
.apptio-envelope-open:before {
  content: "\f2b6";
}
.apptio-envelope-open-o:before {
  content: "\f2b7";
}
.apptio-envelope-square:before {
  content: "\f199";
}
.apptio-exchange:before {
  content: "\f0ec";
}
.apptio-exclamation:before {
  content: "\f12b";
}
.apptio-exclamation-circle:before {
  content: "\f06a";
}
.apptio-exclamation-triangle:before {
  content: "\f072";
}
.apptio-warning:before {
  content: "\f072";
}
.apptio-expand:before {
  content: "\f068";
}
.apptio-external-link:before {
  content: "\f08e";
}
.apptio-external-link-square:before {
  content: "\f14c";
}
.apptio-eye:before {
  content: "\f06e";
}
.apptio-eye-slash:before {
  content: "\f070";
}
.apptio-file:before {
  content: "\f15b";
}
.apptio-file-archive-o:before {
  content: "\f1c6";
}
.apptio-file-zip-o:before {
  content: "\f1c6";
}
.apptio-file-audio-o:before {
  content: "\f1c7";
}
.apptio-file-sound-o:before {
  content: "\f1c7";
}
.apptio-file-code-o:before {
  content: "\f1c9";
}
.apptio-file-excel-o:before {
  content: "\f1c3";
}
.apptio-file-image-o:before {
  content: "\f1c5";
}
.apptio-file-photo-o:before {
  content: "\f1c5";
}
.apptio-file-picture-o:before {
  content: "\f1c5";
}
.apptio-file-movie-o:before {
  content: "\f1c8";
}
.apptio-file-video-o:before {
  content: "\f1c8";
}
.apptio-file-o:before {
  content: "\f016";
}
.apptio-file-pdf-o:before {
  content: "\f1c1";
}
.apptio-file-powerpoint-o:before {
  content: "\f1c4";
}
.apptio-file-text:before {
  content: "\f15c";
}
.apptio-file-text-o:before {
  content: "\f0f6";
}
.apptio-file-word-o:before {
  content: "\f1c2";
}
.apptio-film:before {
  content: "\f008";
}
.apptio-filter:before {
  content: "\f0b3";
}
.apptio-flask:before {
  content: "\f0c4";
}
.apptio-flickr:before {
  content: "\f16e";
}
.apptio-floppy-o:before {
  content: "\f0c7";
}
.apptio-save:before {
  content: "\f0c7";
}
.apptio-folder:before {
  content: "\f07b";
}
.apptio-folder-o:before {
  content: "\f114";
}
.apptio-folder-open:before {
  content: "\f07f";
}
.apptio-folder-open-o:before {
  content: "\f115";
}
.apptio-font:before {
  content: "\f033";
}
.apptio-group:before {
  content: "\f0c0";
}
.apptio-users:before {
  content: "\f0c0";
}
.apptio-hand-grab-o:before {
  content: "\f255";
}
.apptio-hand-rock-o:before {
  content: "\f255";
}
.apptio-hand-lizard-o:before {
  content: "\f258";
}
.apptio-hand-o-down:before {
  content: "\f0a7";
}
.apptio-hand-o-left:before {
  content: "\f0a5";
}
.apptio-hand-o-right:before {
  content: "\f0a4";
}
.apptio-hand-o-up:before {
  content: "\f0a6";
}
.apptio-handshake-o:before {
  content: "\f2b5";
}
.apptio-hashtag:before {
  content: "\f292";
}
.apptio-hdd-o:before {
  content: "\f0a0";
}
.apptio-header:before {
  content: "\f1dc";
}
.apptio-heart:before {
  content: "\f004";
}
.apptio-heart-o:before {
  content: "\f08a";
}
.apptio-heartbeat:before {
  content: "\f21e";
}
.apptio-history:before {
  content: "\f1da";
}
.apptio-home:before {
  content: "\f015";
}
.apptio-image:before {
  content: "\f03e";
}
.apptio-photo:before {
  content: "\f03e";
}
.apptio-picture-o:before {
  content: "\f03e";
}
.apptio-inbox:before {
  content: "\f01c";
}
.apptio-indent:before {
  content: "\f03c";
}
.apptio-industry:before {
  content: "\f275";
}
.apptio-info:before {
  content: "\f129";
}
.apptio-info-circle:before {
  content: "\f05a";
}
.apptio-italic:before {
  content: "\f034";
}
.apptio-key:before {
  content: "\f087";
}
.apptio-level-down:before {
  content: "\f149";
}
.apptio-level-up:before {
  content: "\f148";
}
.apptio-lightbulb-o:before {
  content: "\f0ef";
}
.apptio-line-chart:before {
  content: "\f201";
}
.apptio-list:before {
  content: "\f03a";
}
.apptio-list-alt:before {
  content: "\f022";
}
.apptio-list-ol:before {
  content: "\f0cc";
}
.apptio-list-ul:before {
  content: "\f0cd";
}
.apptio-location-arrow:before {
  content: "\f124";
}
.apptio-lock:before {
  content: "\f023";
}
.apptio-long-arrow-down:before {
  content: "\f175";
}
.apptio-long-arrow-left:before {
  content: "\f177";
}
.apptio-long-arrow-right:before {
  content: "\f178";
}
.apptio-long-arrow-up:before {
  content: "\f176";
}
.apptio-mail-forward:before {
  content: "\f06b";
}
.apptio-share:before {
  content: "\f06b";
}
.apptio-mail-reply:before {
  content: "\f112";
}
.apptio-reply:before {
  content: "\f112";
}
.apptio-mail-reply-all:before {
  content: "\f123";
}
.apptio-reply-all:before {
  content: "\f123";
}
.apptio-male:before {
  content: "\f183";
}
.apptio-map:before {
  content: "\f279";
}
.apptio-map-marker:before {
  content: "\f041";
}
.apptio-map-o:before {
  content: "\f278";
}
.apptio-map-pin:before {
  content: "\f276";
}
.apptio-map-signs:before {
  content: "\f277";
}
.apptio-minus:before {
  content: "\f06c";
}
.apptio-minus-circle:before {
  content: "\f056";
}
.apptio-minus-square:before {
  content: "\f146";
}
.apptio-minus-square-o:before {
  content: "\f147";
}
.apptio-mobile:before {
  content: "\f10b";
}
.apptio-mobile-phone:before {
  content: "\f10b";
}
.apptio-money:before {
  content: "\f0d6";
}
.apptio-newspaper-o:before {
  content: "\f1ea";
}
.apptio-object-group:before {
  content: "\f247";
}
.apptio-object-ungroup:before {
  content: "\f248";
}
.apptio-paper-plane:before {
  content: "\f1d8";
}
.apptio-send:before {
  content: "\f1d8";
}
.apptio-paper-plane-o:before {
  content: "\f1d9";
}
.apptio-send-o:before {
  content: "\f1d9";
}
.apptio-pencil:before {
  content: "\f040";
}
.apptio-pencil-square:before {
  content: "\f14b";
}
.apptio-percent:before {
  content: "\f296";
}
.apptio-phone:before {
  content: "\f095";
}
.apptio-phone-square:before {
  content: "\f098";
}
.apptio-pie-chart:before {
  content: "\f200";
}
.apptio-plus:before {
  content: "\f06d";
}
.apptio-plus-circle:before {
  content: "\f05b";
}
.apptio-plus-square:before {
  content: "\f0fe";
}
.apptio-plus-square-o:before {
  content: "\f196";
}
.apptio-power-off:before {
  content: "\f011";
}
.apptio-print:before {
  content: "\f02f";
}
.apptio-question:before {
  content: "\f128";
}
.apptio-question-circle:before {
  content: "\f05c";
}
.apptio-quote-left:before {
  content: "\f10d";
}
.apptio-quote-right:before {
  content: "\f10e";
}
.apptio-refresh:before {
  content: "\f021";
}
.apptio-repeat:before {
  content: "\f01e";
}
.apptio-rotate-right:before {
  content: "\f01e";
}
.apptio-rotate-left:before {
  content: "\f0e3";
}
.apptio-undo:before {
  content: "\f0e3";
}
.apptio-search:before {
  content: "\f002";
}
.apptio-search-minus:before {
  content: "\f010";
}
.apptio-search-plus:before {
  content: "\f00f";
}
.apptio-share-alt:before {
  content: "\f1e0";
}
.apptio-share-alt-square:before {
  content: "\f1e1";
}
.apptio-share-square:before {
  content: "\f14d";
}
.apptio-share-square-o:before {
  content: "\f04a";
}
.apptio-sign-in:before {
  content: "\f090";
}
.apptio-sign-out:before {
  content: "\f08b";
}
.apptio-sitemap:before {
  content: "\f0e9";
}
.apptio-slack:before {
  content: "\f198";
}
.apptio-sliders:before {
  content: "\f1de";
}
.apptio-slideshare:before {
  content: "\f1e7";
}
.apptio-smile-o:before {
  content: "\f118";
}
.apptio-sort:before {
  content: "\f0e1";
}
.apptio-unsorted:before {
  content: "\f0e1";
}
.apptio-sort-alpha-asc:before {
  content: "\f15f";
}
.apptio-sort-alpha-desc:before {
  content: "\f160";
}
.apptio-sort-amount-asc:before {
  content: "\f161";
}
.apptio-sort-amount-desc:before {
  content: "\f164";
}
.apptio-sort-asc:before {
  content: "\f0e7";
}
.apptio-sort-up:before {
  content: "\f0e7";
}
.apptio-sort-desc:before {
  content: "\f0f0";
}
.apptio-sort-down:before {
  content: "\f0f0";
}
.apptio-sort-numeric-asc:before {
  content: "\f165";
}
.apptio-sort-numeric-desc:before {
  content: "\f166";
}
.apptio-spinner:before {
  content: "\f113";
}
.apptio-square:before {
  content: "\f0c8";
}
.apptio-square-o:before {
  content: "\f099";
}
.apptio-star:before {
  content: "\f007";
}
.apptio-star-half:before {
  content: "\f089";
}
.apptio-star-o:before {
  content: "\f009";
}
.apptio-table:before {
  content: "\f0ce";
}
.apptio-tag:before {
  content: "\f02c";
}
.apptio-tags:before {
  content: "\f035";
}
.apptio-tasks:before {
  content: "\f0ae";
}
.apptio-telegram:before {
  content: "\f2c6";
}
.apptio-television:before {
  content: "\f26c";
}
.apptio-tv:before {
  content: "\f26c";
}
.apptio-text-height:before {
  content: "\f03d";
}
.apptio-text-width:before {
  content: "\f03f";
}
.apptio-th:before {
  content: "\f00a";
}
.apptio-th-large:before {
  content: "\f00b";
}
.apptio-th-list:before {
  content: "\f012";
}
.apptio-thumbs-down:before {
  content: "\f167";
}
.apptio-thumbs-o-down:before {
  content: "\f088";
}
.apptio-thumbs-o-up:before {
  content: "\f08c";
}
.apptio-thumbs-up:before {
  content: "\f168";
}
.apptio-times-circle:before {
  content: "\f05e";
}
.apptio-times-circle-o:before {
  content: "\f05f";
}
.apptio-trash:before {
  content: "\f1f8";
}
.apptio-trash-o:before {
  content: "\f018";
}
.apptio-user:before {
  content: "\f01d";
}
.apptio-user-circle:before {
  content: "\f2bd";
}
.apptio-user-circle-o:before {
  content: "\f2be";
}
.apptio-user-o:before {
  content: "\f2c0";
}
.apptio-user-plus:before {
  content: "\f234";
}
.apptio-user-secret:before {
  content: "\f21b";
}
.apptio-wrench:before {
  content: "\f0af";
}
.apptio-arrow-circle-right2:before {
  content: "\f0a9";
}
.apptio-balance-scale2:before {
  content: "\f24e";
}
.apptio-bars2:before {
  content: "\f0c9";
}
.apptio-navicon2:before {
  content: "\f0c9";
}
.apptio-reorder2:before {
  content: "\f0c9";
}
.apptio-calendar2:before {
  content: "\f073";
}
.apptio-caret-down2:before {
  content: "\f0d7";
}
.apptio-caret-left2:before {
  content: "\f0d9";
}
.apptio-caret-right2:before {
  content: "\f0da";
}
.apptio-caret-up2:before {
  content: "\f0d8";
}
.apptio-check-square-o2:before {
  content: "\f046";
}
.apptio-chevron-down2:before {
  content: "\f078";
}
.apptio-chevron-up2:before {
  content: "\f077";
}
.apptio-close2:before {
  content: "\f00d";
}
.apptio-remove2:before {
  content: "\f00d";
}
.apptio-times2:before {
  content: "\f00d";
}
.apptio-cog2:before {
  content: "\f013";
}
.apptio-gear2:before {
  content: "\f013";
}
.apptio-compress2:before {
  content: "\f066";
}
.apptio-edit2:before {
  content: "\f044";
}
.apptio-pencil-square-o2:before {
  content: "\f044";
}
.apptio-ellipsis-h2:before {
  content: "\f141";
}
.apptio-ellipsis-v2:before {
  content: "\f142";
}
.apptio-exclamation2:before {
  content: "\f12a";
}
.apptio-exclamation-triangle2:before {
  content: "\f071";
}
.apptio-warning2:before {
  content: "\f071";
}
.apptio-expand2:before {
  content: "\f065";
}
.apptio-filter2:before {
  content: "\f0b0";
}
.apptio-flask2:before {
  content: "\f0c3";
}
.apptio-folder-open2:before {
  content: "\f07c";
}
.apptio-font2:before {
  content: "\f031";
}
.apptio-key2:before {
  content: "\f084";
}
.apptio-lightbulb-o2:before {
  content: "\f0eb";
}
.apptio-list-ul2:before {
  content: "\f0ca";
}
.apptio-mail-forward2:before {
  content: "\f064";
}
.apptio-share2:before {
  content: "\f064";
}
.apptio-mail-reply-all2:before {
  content: "\f122";
}
.apptio-reply-all2:before {
  content: "\f122";
}
.apptio-percent2:before {
  content: "\f295";
}
.apptio-plug:before {
  content: "\f1e6";
}
.apptio-plus-circle2:before {
  content: "\f055";
}
.apptio-question-circle2:before {
  content: "\f059";
}
.apptio-rotate-left2:before {
  content: "\f0e2";
}
.apptio-undo2:before {
  content: "\f0e2";
}
.apptio-share-square-o2:before {
  content: "\f045";
}
.apptio-sitemap2:before {
  content: "\f0e8";
}
.apptio-sort-alpha-asc2:before {
  content: "\f15d";
}
.apptio-sort-alpha-desc2:before {
  content: "\f15e";
}
.apptio-sort-numeric-asc2:before {
  content: "\f162";
}
.apptio-sort-numeric-desc2:before {
  content: "\f163";
}
.apptio-spinner2:before {
  content: "\f110";
}
.apptio-square-o2:before {
  content: "\f096";
}
.apptio-star2:before {
  content: "\f005";
}
.apptio-star-o2:before {
  content: "\f006";
}
.apptio-tag2:before {
  content: "\f02b";
}
.apptio-times-circle2:before {
  content: "\f057";
}
.apptio-wrench2:before {
  content: "\f0ad";
}
